
<!--Header Starts-->
<div class="panel-header" id="mfe-credit-lender-new-dialog-heading">
  Car Entry Form
</div>
<!--Header Ends-->

<!--Content Starts-->
<div class="dialog-body custom-scroll p-r-l-40" [formGroup]="carEntryForm">
  <div class="col-md-12 p-r-l-0 ui-form-field">
    <label class="ui-label-select">Car No</label>
    <mat-form-field>
      <input formControlName="carNo" matInput>
    </mat-form-field>
    <mat-error *ngIf="carEntryForm.controls.carNo.touched &&
      carEntryForm?.controls.carNo?.errors?.required"
      class="error-validation-msg"> Car No is required </mat-error>
  </div>
  <div class="col-md-12 p-r-l-0 ui-form-field">
    <label class="ui-label-select">
      Car Color</label>
    <mat-form-field class="tribe-input">
      <select matNativeControl formControlName="color" required>
        <option *ngFor="let item of colors" value={{item}}>{{item}}</option>
      </select>
    </mat-form-field>
  </div>
</div>
<!--Content Ends-->

<!--Footer Starts-->
<div class="clearfix"></div>
<div class="dialog-footer">
  <div class="footer-btn">
    <button class="dialog-btn-cancel" mat-stroked-button color="accent"(click)="clearForm()">CLEAR</button>
    <button class="dialog-btn-cancel" mat-stroked-button color="accent"
      mat-dialog-close >CANCEL</button>
    <button class="dialog-btn" mat-raised-button color="accent" mat-dialog-close
      (click)="formSubmit()" [disabled]="carEntryForm.invalid">SUBMIT</button>
  </div>
</div>
<!--Footer Ends-->