<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="ds-header">Dashboard</div>
    <div class="form-wrapper">
      <div class="form-container ui-dialog" [formGroup]="dashBoardForm">
        <div class="col-md-12 p-r-l-0 ui-form-field">
          <label class="ui-label-select">No. Parking Places</label>
          <mat-form-field>
            <input formControlName="parkingSlot" matInput
              (keypress)="onlyNumberKey($event)" (keyup)="validationOfSlot($event)">
          </mat-form-field>
          <mat-error *ngIf="dashBoardForm.controls.parkingSlot.touched &&
            dashBoardForm?.controls.parkingSlot?.errors?.required"
            class="error-validation-msg"> No. Parking Places is required
          </mat-error>
        </div>
        <div class="col-md-12 p-r-l-0 ui-form-field">
          <label class="ui-label-select">No. Cars Parked</label>
          <mat-form-field>
            <input formControlName="carParked" matInput
              (keypress)="onlyNumberKey($event)" (keyup)="validationOfSlot($event)" >
          </mat-form-field>
          <mat-error *ngIf="dashBoardForm.controls.carParked.touched &&
            dashBoardForm?.controls.carParked?.errors?.required"
            class="error-validation-msg"> No. Cars Parked is required
          </mat-error>
          <mat-error *ngIf="showError"> No. of parking slots should be more than
            no of parked car!!(less than 5)
          </mat-error>
        </div>
        <div class="col-md-12 p-r-l-0 dialog-footer">
          <div class="footer-btn">
            <button class="dialog-btn-cancel mat-stroked-button mat-accent"
              mat-stroked-button color="accent"
              (click)="onClear()">CLEAR</button>
            <button class="dialog-btn mat-raised-button mat-accent"
              mat-raised-button color="accent"
              (click)="onSubmit()" [disabled]="dashBoardForm.invalid || showError">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>