.dashboard-wrapper{
    margin: 40px;
    .dashboard-container{
    width: 50%;
    margin: auto;
    background-color:#f7f7f7;
    height: 400px;
    padding: 40px;
    border: 1px solid rgba(0,0,0,.12);
    .ds-header{
        text-align: center;
    }
    .form-container{
        margin-top: 40px;
    }
    }
}
.ui-label-select{
    font-size: 18px;
    margin-right: 10px;
}
.form-input{
    margin-bottom: 38px;
}
.validate{
    background:white;
}
.form-wrapper{
    .footer-btn{
        padding:0 !important;
    }
}