<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/parkingLot">Login</a>
  </div>
</nav> -->

<!-- main content container -->
  <div class="container">
      <div class="row">
              <router-outlet></router-outlet>
      </div>
</div>