<div class="parking-wrapper">
  <div class="parking-container">
    <div class="parking-title">
      <span>Automated Parking Lot System</span>
    </div>
    <div class="parking-header">
      <div class="parking-details">
        <span>Total Parking Slots-<span class="number-highlight">{{noParkingSlot}}</span></span>
        <br>
        <span>Available Parking Slots-<span class="number-highlight">{{noParkingSlot-noParkedCar}}</span></span>
      </div>
      <div class="park-car-container">
        <button class="query-details-button" color="accent" mat-raised-button>Collected Money - {{collectedMoney}}</button>
        <button class="park-car-button" color="accent" mat-raised-button (click)="openDialog()">Park a Car</button>
      </div>

    </div>
    <div class="parking-action-wrapper clearfix">
      <div class="parking-actions" [formGroup]="actionForm">
        <div class="search-action">
            <div class="col-md-12 p-r-l-0">
              <mat-form-field>
                <input  formControlName="carNo" matInput placeholder="TYPE REGD NO.">
              </mat-form-field>
            </div>
        </div>
        <div class="search-action">
          <mat-form-field>
            <mat-select placeholder="Choose colorFilterList" formControlName="color">
                <mat-option  *ngFor="let color of colorFilterList; let i =index" [value]="color">
                    <mat-checkbox [checked]="selected === i" (change)="onChange(color);selected = i"> {{color}}</mat-checkbox>
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <div class="action-btn-warpper search-action">
          <button class="query-details-button search-btn dialog-btn-add" mat-raised-button color="accent" (click)="filterOutCars()">Search</button>
          <button class="query-details-button  dialog-btn-add" mat-raised-button  [disabled]="!actionForm.value" (click)="resetFilter()">Reset</button>
        </div>
      </div>
    </div>
    <div class="ui-table-container custom-scroll car-details-container">
      <div class="ui-table-container custom-scroll">
        <table mat-table 
          [dataSource]="dataSource.data" class="mat-elevation-z8
          ui-sorting-table" (matSortChange)="sortData($event)" matSort
          matSortDisableClear=true>
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef nowrap>
              <b>#</b>
            </th>
            <td nowrap mat-cell *matCellDef="let
              element,let i=index">
              <span> {{i+1}}</span>
            </td>
          </ng-container>

          <!-- employee id column start -->
          <ng-container matColumnDef="carNo">
            <th mat-header-cell *matHeaderCellDef nowrap mat-sort-header>
             <b> Car No</b>
            </th>
            <td nowrap mat-cell
              *matCellDef="let element">
              <span> {{element.carNo}}</span>
            </td>
          </ng-container>
          <!-- employee id column ends -->

          <!-- Department column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef nowrap mat-sort-header>
              <b> Color</b>
            </th>
            <td nowrap mat-cell
              *matCellDef="let element">
              <span> {{element.color}}</span>
            </td>
          </ng-container>
          <!-- Department column ends-->

          <!-- Email ID column -->
          <ng-container matColumnDef="slotNo">
            <th mat-header-cell *matHeaderCellDef nowrap mat-sort-header>
              <b> Slot No</b></th>
            <td nowrap mat-cell
              *matCellDef="let element">
              <span>{{element.slotNo}}</span>
            </td>
          </ng-container>
          <!-- Email id column ends -->

          <!-- DOJ column start -->
          <ng-container matColumnDef="dateTime">
            <th mat-header-cell *matHeaderCellDef nowrap mat-sort-header>
              <b>Date Time</b>
            </th>
            <td nowrap mat-cell
              *matCellDef="let element">
              <span> {{element.dateTime}}</span>
            </td>
          </ng-container>
          <!-- DOJ column end -->
          <ng-container matColumnDef="action">
            <th class="text-right" mat-header-cell *matHeaderCellDef nowrap>
            </th>
            <td class="text-right" mat-cell *matCellDef="let element,let
              i=index" nowrap>
              <button (click)="removeCar(i)"> Remove </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns:
          displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
