.parking-container{
    font-size: 16px;;
}
.parking-title{
    font-size: 20px;;
    height: 45px;
    background-color: #53619e;;
    text-align: center;
    color:white;
    vertical-align: middle;
    margin-bottom: 30px;
    span{
        vertical-align: -webkit-baseline-middle;
    }
}
.parking-details{
    display: inline-block;
}
.park-car-container{
    float: right;

}
.parking-action-wrapper,.car-details-container{
    margin-top: 20px;
}
.query-details-button{
    margin-right: 10px;
    
}
.search-btn{
    margin-right: 0px !important;
}
.parking-data-container{
    margin-top: 30px;
    .ui-table-container {
        width: 100%;
        overflow-x: scroll;
        table{
            width: 100%;
            background: #fff;
            td{    border-left: 1px solid;
                border-right: 1px solid;};
                th{
                    border-left: 1px solid;
                border-right: 1px solid;
                }
        }
        
.mat-header-row{background: rgba(0,0,0,.03);
}
}
}
.parking-actions{
    float: right;
    .search-action{
        vertical-align: middle;
        margin-right: 20px;
        display: inline-block;
        .mat-form-field input{
            height: 35px;
        }
        .mat-select{
            height: 35px;
        }
    }
    .action-btn-warpper{
        display: inline-block;
        margin-right: 0px !important;
        .dialog-btn-add{
            height: 35px;
        }
    }
}

.number-highlight{
    color:red;
}
    ::ng-deep.mat-select-trigger{
        bottom: -8px;
    }