<!--Header Starts-->
<div class="panel-header">
  Status
  <span class="pull-right filter-dialog-close sprite-10-mono"
    (click)="closeDialog()"></span>
</div>
<!--Header Ends-->

<!--Content Starts-->
<div class="dialog-body custom-scroll">
  <div class="modal-content-container">
    <div class="pull-left">
    </div>
    <p class="pull-left p-l-20 dialog-msg">
      No Slots Avaialable !!!
    </p>
  </div>
</div>
<!--Content Ends-->

<div class="dialog-footer">
  <div class="footer-btn">
    <button class="dialog-btn-cancel" mat-raised-button color="accent"
      mat-dialog-close>OK</button>
  </div>
</div>